<div class="mw7 pv4 ph3 mb5 mt3 center tc bg-grey-1">
  <h3 class="f3 lh-title b mb4">{{ .contacttitle }}</h3>
  <p class="center mb4 lh-copy black">{{ .contactingress }} pest</p>
  <div class="flex justify-center">
    <div class="mr4">
      <a href="#" class="am-tooltip-reference f5 b link no-underline-hover br-pill ph4 pv2 mv2 dib white bg-yellow bg-animate hover-bg-light-green">Ring oss</a>
      <div class="popper am-tooltip bg-yellow b--yellow br1 pv3 ph3 o-0">
        <ul class="white">
          {{ range .office }}
            <li>
              <a href="tel:{{ .phone }}" class="dib pv2">{{ .name }}</a>
            </li>
          {{ end }}
        </ul>
        <div class="am-tooltip-arrow arrow-top popper__arrow" x-arrow></div>
      </div>
    </div>
    <div class="">
      <a href="#" class="am-tooltip-reference f5 b link no-underline-hover br-pill ph4 pv2 mv2 dib white bg-yellow">Skicka e-post</a>
      <div class="popper am-tooltip bg-yellow b--yellow br1 pv3 ph3 o-0">
        <ul class="white">
          {{ range .office }}
            <li>
              <a href="mailto:{{ .email }}" class="dib pv2">{{ .name }}</a>
            </li>
          {{ end }}
        </ul>
        <div class="am-tooltip-arrow arrow-top popper__arrow" x-arrow></div>
      </div>
    </div>
  </div>
</div>
