<div class="mw7 pv4 ph3 mb5 mt3 center tc bg-grey-1">
  <h3 class="f3 lh-title b mb4 alvik-4">{{ .contacttitle }}</h3>
  <p class="center mb4 lh-copy black">{{ .contactingress }} pest</p>
  <div class="flex justify-center">
    <div class="mr4">
      <a href="#" class="am-tooltip-reference dib relative overflow-hidden link ba bw0 pv1 ph1 no-underline-hover font-accent b ttu bg-1-to-3 hover-bg-1-to-3 hover-bg-slide br-pill white"><span class="z-1 relative bg-grey-1 dib br-pill alvik-3 pv2 ph4">Ring oss</span></a>
      <div class="popper am-tooltip br1 pv2 ph3 dn">
        <ul class="white">
          {{ range $i,$p := .office }}
            <li>
              <a href="tel:{{ .phone }}" class="dib relative overflow-hidden link ba bw0 pv2 ph4 no-underline-hover font-accent b ttu bg-alvik-{{ add $i 1 }} hover-bg-alviks-{{ add $i 2 }} hover-bg-slide br-pill white"><span class="z-1 relative">{{ .name }}</span></a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="">
      <a href="#" class="am-tooltip-reference dib relative overflow-hidden link ba bw0 pv1 ph1 no-underline-hover font-accent b ttu bg-1-to-3 hover-bg-1-to-3 hover-bg-slide br-pill white"><span class="z-1 relative bg-grey-1 dib br-pill alvik-3 pv2 ph4">Skicka e-post</span></a>
      <div class="popper am-tooltip br1 pv2 ph3 dn">
        <ul class="white">
          {{ range $i,$p := .office }}
            <li>
              <a href="mailto:{{ .email }}" class="dib relative overflow-hidden link ba bw0 pv2 ph4 no-underline-hover font-accent b ttu bg-alvik-{{ add $i 1 }} hover-bg-alviks-{{ add $i 2 }} hover-bg-slide br-pill white"><span class="z-1 relative">{{ .name }}</span></a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
