{{ $currentPage := . }}
<div class="c-fixedHeader">
	<button id="menu" class="c-fixedHeader__toggle" type="button">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
		Meny
	</button>
	<a href="/">
		<img class="c-fixedHeader__logo" src="{{ .Site.Data.global.logo }}" alt="">
	</a>

	<nav class="dtc v-mid w-100 tl mt2 pb0">
		<ul class="c-fixedHeader__sideMenu">
			<!-- Phone icon -->
			<li class="db icon">
				<a href="#" class="icon-link am-tooltip-reference">
					<svg width="32" height="32" class="db">
						<use xlink:href="#icons-phone"></use>
					</svg>
				</a>
				<div class="popper am-tooltip dn">
					<ul class="white">
						{{ range $i,$p := .Site.Data.global.office }}
							<li>
								<a href="tel:{{ .phone }}"><span class="z-1 relative">{{ .name }}</span></a>
							</li>
						{{ end }}
					</ul>
				</div>
			</li>

			<!-- Mail icon -->
			<li class="db icon">
				<a href="#" class="icon-link am-tooltip-reference">
				<svg width="32" height="32" class="db">
					<use xlink:href="#icons-envelope"></use>
				</svg>
				</a>
				<div class="popper am-tooltip dn">
					<ul class="white">
						{{ range $i,$p := .Site.Data.global.office }}
							<li>
								<a href="mailto:{{ .email }}"><span class="z-1 relative">{{ .name }}</span></a>
							</li>
						{{ end }}
					</ul>
				</div>
			</li>

			<li>
				<div class="line"></div>
			</li>

			<!-- Instagram icon -->
			<li class="db icon">
				<a href="#" class="icon-link am-tooltip-reference">
					<svg height="30" width="30" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="svg-inline--fa fa-instagram fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
						<path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
					</svg>
				</a>
				<div class="popper am-tooltip dn">
					<ul class="white">
						{{ range $i,$p := .Site.Data.global.office }}
							<li>
								<a href="{{ .instagram }}"><span class="z-1 relative">{{ .name }}</span></a>
							</li>
						{{ end }}
					</ul>
				</div>
			</li>

			<!-- Facebook icon -->
			<li class="db icon">
				<a href="#" class="icon-link am-tooltip-reference">
					<svg height="30" width="30" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="svg-inline--fa fa-facebook-f fa-w-9" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512">
						<path fill="currentColor" d="M215.8 85H264V3.6C255.7 2.5 227.1 0 193.8 0 124.3 0 76.7 42.4 76.7 120.3V192H0v91h76.7v229h94V283h73.6l11.7-91h-85.3v-62.7c0-26.3 7.3-44.3 45.1-44.3z"></path>
					</svg>
				</a>
				<div class="popper am-tooltip dn">
					<ul class="white">
						{{ range $i,$p := .Site.Data.global.office }}
							<li>
								<a href="{{ .facebook }}"><span class="z-1 relative">{{ .name }}</span></a>
							</li>
						{{ end }}
					</ul>
				</div>
			</li>
		</ul>

		<div id="sidebar" class="c-fixedHeader__slideMenu list vw-100 vh-100 fixed bg-alvik-4 z-9999 slider--left pv6">
			<button class="close"></button>
			<ul class="c-fixedHeader__main">
				{{ range .Site.Menus.main }}
					{{ $is := $currentPage.IsMenuCurrent "main" . }}
					<li class="db w-100 tr">
						<a href="{{ .URL }}" class="ttu relative hover-b-before bt-50 b-psw-50 b-psh-2 hover-b-after at-50 a-psw-50 a-psh-2 pv2 f5 fw4 link no-underline-hover off-white dib mr4 mr4-ns mr3-l {{ if $is }} hover-b-before-after-fw {{ end }}">{{ .Name }}</a>
					</li>
				{{ end }}
				{{ range .Site.Menus.secondary }}
					{{ if .HasChildren }}
						<li class="db relative w-100 tr">
							<a href="#" class="ttu relative hover-b-before bt-50 b-psw-50 b-psh-2 hover-b-after at-50 a-psw-50 a-psh-2 pv2 am-has-submenu f5 fw4 link no-underline-hover off-white dib mr4 mr4-ns mr3-l ">
								<span class="after-arrow--down">{{ .Name }}</span>
							</a>
							<ul class="left-0 tl db white bg-alvik-4 z-5 ph2 am-submenu">
								{{ range $i,$p := .Children }}
									<li class="db mv1 pv1 tr ph5">
										<a href="{{ .URL }}" class="link ttu"><span class="relative z-1">{{ .Name }}</span></a>
									</li>
								{{ end }}
							</ul>
						</li>
					{{ else }}
						{{ $is := $currentPage.IsMenuCurrent "secondary" . }}
						<li class="db w-100 tr">
							<a href="{{ .URL }}" class="ttu relative hover-b-before bt-50 b-psw-50 b-psh-2 hover-b-after at-50 a-psw-50 a-psh-2 pv2 f5 fw4 link no-underline-hover off-white dib mr4 mr4-ns mr3-l {{ if $is }} hover-b-before-after-fw {{ end }}">{{ .Name }}</a>
						</li>
					{{ end }}
				{{ end }}
			</ul>
			<ul class="c-fixedHeader__sideMenu">
				<!-- Phone icon -->
				<li class="db icon">
					<a href="#" class="icon-link am-tooltip-reference">
						<svg width="32" height="32" class="db">
							<use xlink:href="#icons-phone"></use>
						</svg>
					</a>
					<div class="popper am-tooltip dn">
						<ul class="white">
							{{ range $i,$p := .Site.Data.global.office }}
								<li>
									<a href="tel:{{ .phone }}"><span class="z-1 relative">{{ .name }}</span></a>
								</li>
							{{ end }}
						</ul>
					</div>
				</li>

				<!-- Mail icon -->
				<li class="db icon">
					<a href="#" class="icon-link am-tooltip-reference">
					<svg width="32" height="32" class="db">
						<use xlink:href="#icons-envelope"></use>
					</svg>
					</a>
					<div class="popper am-tooltip dn">
						<ul class="white">
							{{ range $i,$p := .Site.Data.global.office }}
								<li>
									<a href="mailto:{{ .email }}"><span class="z-1 relative">{{ .name }}</span></a>
								</li>
							{{ end }}
						</ul>
					</div>
				</li>

				<li>
					<div class="line"></div>
				</li>

				<!-- Instagram icon -->
				<li class="db icon">
					<a href="#" class="icon-link am-tooltip-reference">
						<svg height="30" width="30" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="svg-inline--fa fa-instagram fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
							<path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
						</svg>
					</a>
					<div class="popper am-tooltip dn">
						<ul class="white">
							{{ range $i,$p := .Site.Data.global.office }}
								<li>
									<a href="{{ .instagram }}"><span class="z-1 relative">{{ .name }}</span></a>
								</li>
							{{ end }}
						</ul>
					</div>
				</li>

				<!-- Facebook icon -->
				<li class="db icon">
					<a href="#" class="icon-link am-tooltip-reference">
						<svg height="30" width="30" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="svg-inline--fa fa-facebook-f fa-w-9" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512">
							<path fill="currentColor" d="M215.8 85H264V3.6C255.7 2.5 227.1 0 193.8 0 124.3 0 76.7 42.4 76.7 120.3V192H0v91h76.7v229h94V283h73.6l11.7-91h-85.3v-62.7c0-26.3 7.3-44.3 45.1-44.3z"></path>
						</svg>
					</a>
					<div class="popper am-tooltip dn">
						<ul class="white">
							{{ range $i,$p := .Site.Data.global.office }}
								<li>
									<a href="{{ .facebook }}"><span class="z-1 relative">{{ .name }}</span></a>
								</li>
							{{ end }}
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</div>
