<div class="w-100 pb3">
  <div class="pt4 pb3">
    <div class="partials-front-services pw7 center">

      <h3 class="f2 lh-title b mb4 tc alvik-4">Vad vi gör</h3>

      {{ range $index, $value := ((where .Data.Pages "Type" "vad-vi-gor_kategorier") sort (.Data.Pages.ByParam "weight")) }}

        {{if not (modBool $index 2)}}

          <div class="mw7 center flex flex-wrap items-center mb4">

            <div class="w-100 w-40-m border pa3">
              <img class="w-100" src="{{ .Params.Image }}" alt="">
            </div>

            <div class="w-100 w-60-m border pa3">
              <h4 class="f4 b lh-title mb2 black">{{ .Title }}</h4>
              <p>{{ .Summary }}</p>
              {{ partial "button-link" (dict "label" "Läs mer" "link" .Permalink) }}
            </div>

          </div>

        {{ else }}

          <div class="mw7 center flex flex-wrap items-center mb4">

            <div class="w-100 w-60-m border pa3 order-1 order-0-m">
              <h4 class="f4 b lh-title mb2 black">{{ .Title }}</h4>
              <p>{{ .Summary }}</p>
              {{ partial "button-link" (dict "label" "Läs mer" "link" .Permalink) }}
            </div>

            <div class="w-100 w-40-m border pa3 order-0 order-1-m">
              <img class="w-100" src="{{ .Params.Image }}" alt="">
            </div>

          </div>

        {{end}}

      {{ end }}

    </div>
  </div>
</div>
