<div class="w-100 pb3">
  <div class="w-100">
    <svg class="v-btm" width="auto" height="auto" viewBox="0 0 2043 71" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="curve-top" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path id="buuu" d="M0.546875,8.3125 C337.984375,74.8333333 687.223958,84.7395833 1048.26562,38.03125 C1409.30729,-8.67708333 1740.60417,-11.9791667 2042.15625,28.125 L2042.15625,70.6875 L0.546875,70.6875 L0.546875,8.3125 Z" fill="#FBF1A9"></path>
        </g>
    </svg>
  </div>
  <div class="bg-yellow-2 pv3">
    <div class="pw7 center">
      <h3 class="f2 lh-title b mb4 tc tracked-tight">Vad vi gör</h3>
      {{ range $i,$p := where .Data.Pages "Type" "vad-vi-gor" }}
        {{if not (modBool $i 2)}}
          {{ partial "label-image-block-odd" . }}
        {{ else }}
          {{ partial "label-image-block" . }}
        {{end}}
      {{ end }}
    </div>
  </div>
  <div class="w-100">
    <svg class="v-top" width="auto" height="auto" viewBox="0 0 1997 71" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path id="muuu" d="M0.203125,33.9728607 C505.505208,75.5338064 872.807292,81.7902103 1102.10938,52.7420724 C1331.41146,23.6939345 1629.53125,17.4375306 1996.46875,33.9728607 L1996.46875,0.314943014 L0.203125,0.314943014 L0.203125,33.9728607 Z" id="Path-5" fill="#FBF1A9"></path>
        </g>
    </svg>
  </div>
</div>
