<style>
	.c-heroImageGrid .container .column:nth-of-type(1):before {
		background-image: url({{ (index .Params.images 0).image }});
	}
	.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1):before {
		background-image: url({{ (index .Params.images 1).image }});
	}
	.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(2):before {
		background-image: url({{ (index .Params.images 2).image }});
	}
	.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3):before {
		background-image: url({{ (index .Params.images 3).image }});
	}
</style>

<div class="c-heroImageGrid">
	<div class="container">
		<div class="column">
			<a href="{{ (index .Params.images 0).link }}"></a>
		</div>
		<div class="column">
			<div class="row">
				<a href="{{ (index .Params.images 1).link }}"></a>
			</div>
			<div class="row">
				<div>
					<div class="text">
						<h6>{{ .Title }}</h6>
						<p>{{ .Params.subheading }}</p>
					</div>
				</div>
				<div>
					<a href="{{ (index .Params.images 2).link }}"></a>
				</div>
			</div>
			<div class="row">
				<a href="{{ (index .Params.images 3).link }}"></a>
			</div>
		</div>
	</div>
	<div class="c-heroImageGrid__arrow-down"></div>
</div>
