<div class="pt4 pb2 pt6-l pb3-l bg-center cover mb4 relative contain outline" style="background-image: url({{ .bg }})">
  <div class="mw8 center ph3 flex flex-wrap">
    <div class="w-100 w-50-m">
      <div class="db mb3 ">
        <div class="mw6 relative mb3">
          <h1 class="f2 f1-l b di lh-title mb3 mw6 black">
            {{.title}}
          </h1>
        </div>
        <div class="mw6 relative mb4">
          {{ if .subtitle }}
          <p class="b f4 di lh-title mb3 mw6 black">
            {{.subtitle}}
          </p>
          {{ end }}
        </div>
        <div class="bw-50 outline">
          <div class="mr4">
            <a href="#" class="am-tooltip-reference dib relative overflow-hidden link ba bw0 pv1 ph1 no-underline-hover font-accent b ttu bg-1-to-3 hover-bg-1-to-3 hover-bg-slide br-pill white"><span class="z-1 relative bg-white dib br-pill alvik-3 pv2 ph4">Ring oss</span></a>
            <div class="popper am-tooltip br1 pv2 ph3 dn">
              <ul class="white">
                {{ range $i,$p := .office }}
                  <li>
                    <a href="tel:{{ .phone }}" class="dib relative overflow-hidden link ba bw0 pv2 ph4 no-underline-hover font-accent b ttu bg-alvik-{{ add $i 1 }} hover-bg-alviks-{{ add $i 2 }} hover-bg-slide br-pill white"><span class="z-1 relative">{{ .name }}</span></a>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
          <div class="">
            <a href="#" class="am-tooltip-reference dib relative overflow-hidden link ba bw0 pv1 ph1 no-underline-hover font-accent b ttu bg-1-to-3 hover-bg-1-to-3 hover-bg-slide br-pill white"><span class="z-1 relative bg-white dib br-pill alvik-3 pv2 ph4">Skicka e-post</span></a>
            <div class="popper am-tooltip br1 pv2 ph3 dn">
              <ul class="white">
                {{ range $i,$p := .office }}
                  <li>
                    <a href="mailto:{{ .email }}" class="dib relative overflow-hidden link ba bw0 pv2 ph4 no-underline-hover font-accent b ttu bg-alvik-{{ add $i 1 }} hover-bg-alviks-{{ add $i 2 }} hover-bg-slide br-pill white"><span class="z-1 relative">{{ .name }}</span></a>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 w-50-m dn db-m">

    </div>
  </div>
</div>
