<div class="pt4 pb2 pt6-l pb3-l bg-center cover mb4">
  <div class="mw8 center ph3 flex flex-wrap">
    <div class="w-100 w-50-m">
      <div class="db mb3 ">
        <div class="mw6 relative mb3">
          <h1 class="f2 f1-l b di lh-title mb3 mw6">
            {{.title}}
          </h1>
        </div>
        <div class="mw6 relative mb4">
          {{ if .subtitle }}
          <p class="b f4 di lh-title mb3 mw6">
            {{.subtitle}}
          </p>
          {{ end }}
        </div>
        <div class="">
          {{ partial "button-link" (dict "label" "Kontakta oss" "link" "mailto:info@alviksmaleri.se" "bgcolor" "bg-yellow") }}
        </div>
      </div>
    </div>
    <div class="w-100 w-50-m dn db-m">
      <img src="{{ .illustration }}" alt="">
    </div>
  </div>
</div>
