<div class="pt6 pb2 pt6-l pb3-l bg-left mb4 relative cover">
  <div class="mw8 center ph3 flex flex-wrap relative z-2">
    <div class="w-100 w-50-m">
      <div class="db mb3 ">
        <div class="mw6 relative mb3">
          <h1 class="f2 f1-l b di lh-title mb3 mw6 off-white">
            {{ .title }}

          </h1>
        </div>
        <div class="mw6 relative mb4">
          {{ if .subtitle }}
          <p class="b f4 di lh-title mb3 mw6 off-white">
            {{.subtitle}}
          </p>
          {{ end }}
        </div>
        <div class="bw-50 flex">
          <div class="mr4">
            <a href="#" class="am-tooltip-reference dib relative overflow-hidden link ba bw0 pv1 ph1 no-underline-hover font-accent b ttu bg-1-to-3 hover-bg-1-to-3 hover-bg-slide br-pill white"><span class="z-1 relative bg-white dib br-pill alvik-3 pv2 ph4">Ring oss</span></a>
            <div class="popper am-tooltip br1 pv2 ph3 dn">
              <ul class="white">
                {{ range $i,$p := .office }}
                  <li>
                    <a href="tel:{{ .phone }}" class="dib relative overflow-hidden link ba bw0 pv2 ph4 no-underline-hover font-accent b ttu bg-alvik-{{ add $i 1 }} hover-bg-alviks-{{ add $i 2 }} hover-bg-slide br-pill white"><span class="z-1 relative">{{ .name }}</span></a>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
          <div class="">
            <a href="#" class="am-tooltip-reference dib relative overflow-hidden link ba bw0 pv1 ph1 no-underline-hover font-accent b ttu bg-1-to-3 hover-bg-1-to-3 hover-bg-slide br-pill white"><span class="z-1 relative bg-white dib br-pill alvik-3 pv2 ph4">Skicka e-post</span></a>
            <div class="popper am-tooltip br1 pv2 ph3 dn">
              <ul class="white">
                {{ range $i,$p := .office }}
                  <li>
                    <a href="mailto:{{ .email }}" class="dib relative overflow-hidden link ba bw0 pv2 ph4 no-underline-hover font-accent b ttu bg-alvik-{{ add $i 1 }} hover-bg-alviks-{{ add $i 2 }} hover-bg-slide br-pill white"><span class="z-1 relative">{{ .name }}</span></a>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 w-50-m dn db-m">
    </div>
  </div>
  <div id="waves" class="absolute overflow-hidden w-100 top-0 left-0 flex justify-center align-center z-1">
    <svg class="mw-none w-auto w-100-l h7 h6-ns h-100-l" viewBox="0 0 3600 1797" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
        <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
        <title>Group</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Group">
                <path d="M0,1797 C455.78125,1712.84362 726.5,1639.64551 812.15625,1577.40566 C940.640625,1484.0459 1523.95313,1192.87574 2171.97656,1290.61102 C2603.99219,1355.76786 3080,1105.26419 3600,539.1 L3600,0 L0,0 L0,1797 Z" id="Path-4" fill="#A90039"></path>
                <path d="M0,1797 C270.390625,1761.24719 502.101563,1634.45885 695.132812,1416.635 C984.679687,1089.89922 1496.78906,972.509258 1587.65625,965.232344 C1628.70291,961.945206 2233.7439,992.759435 2596.35937,698.490156 C2711.38966,605.140917 2785.93653,372.310865 2820,0 L0,0 L0,1797 Z" id="Path-2" fill="#831A44"></path>
                <path d="M0,0 L0,1797 C288.434509,1709.48984 455.039137,1577.58505 499.813884,1401.28562 C566.976005,1136.83648 560.827361,999.054785 780.21574,830.012773 C999.60412,660.970762 1159.25605,546.236523 1186.38103,369.157148 C1213.50602,192.077773 1374.38768,1.73466997e-14 1491.99233,0 C1570.39544,0 1073.06466,0 0,0 Z" id="Path" fill="#28155A"></path>
            </g>
        </g>
    </svg>
  </div>
</div>
