<header class="w-100 pa2 ph5-ns">
	<div class="db dt-ns mw8 center w-100">
		<div class="db dtc-ns v-mid tl w-25">
			<!-- Logo -->
			<a href="/" class="dib mt0 mb0">
				<img src="{{ .Site.Data.global.logo }}" alt="Alviks Måleri logo" class="br0 db mb0 w-100 h3"/>
			</a>
		</div>
		<nav class="db dtc-ns v-mid w-100 tl tr-ns mt2 pb2 pb0-ns">
			<div>
				<ul class="list flex inline-flex-ns">
					{{ $currentPage := . }}
					{{ range .Site.Menus.main }}
						{{ if .HasChildren }}
							<li class="dib relative w-third w-auto-ns">
								<a href="#" class="relative hover-b-before-after pb3 pt3 am-has-submenu f5 fw6 link no-underline-hover black-70 dib mr2 mr3-m mr4-l">{{ .Name }}</a>
								<ul class="absolute left-0 tl dn bg-white z-5 ph2">
									{{ range .Children }}
										<li class="db mv1 pv1">
											<a href="{{ .URL }}" class="link">{{ .Name }}</a>
										</li>
									{{ end }}
								</ul>
							</li>
						{{ else }}
							{{ $is := $currentPage.IsMenuCurrent "main" . }}
							<li class="dib w-third w-auto-ns">
								<a href="{{ .URL }}" class="relative hover-b-before-after pb3 pt3 f5 fw6 link no-underline-hover black-70 dib mr2 mr3-m mr4-l {{ if $is }} hover-b-before-after-fw {{ end }}">{{ .Name }}</a>
							</li>
						{{ end }}
					{{ end }}
				</ul>
				<ul id="sidebar" class="list dib-ns fixed relative-ns absolute--fill bg-grey-2 bg-white-ns z-9999 slider--left slider-reset-ns pv4 pv0-ns">
					{{ range .Site.Menus.secondary }}
						{{ $is := $currentPage.IsMenuCurrent "secondary" . }}
						<li class="dib-ns ph4 ph0-ns">
							<a href="{{ .URL }}" class="relative hover-b-before-after pb3 pt3 f3 f5-ns fw6 link no-underline-hover black-70 dib mr2 mr3-m mr4-l {{ if $is }} hover-b-before-after-fw {{ end }}">{{ .Name }}</a>
						</li>
					{{ end }}
				</ul>
			</div>
			<button id="menu" class="f6 b grow link br1 ph2 pv1 border-box absolute z-max top-0 right-0 mr3 mt4 no-underline bg-grey-2 dn-ns" type="button">Meny</button>
		</nav>
	</div>
</header>
