<header class="w-100 pa2 ph5-ns">
	<div class="db dt-ns mw8 center w-100">
		<div class="db dtc-ns v-mid tl w-25">
			<!-- Logo -->
			<a href="/" class="dib mt0 mb0">
				<img src="{{ .Site.Data.global.logo }}" alt="Alviks Måleri logo" class="br0 db mb0 w-100 h3"/>
			</a>
		</div>
		<nav class="db dtc-ns v-mid w-100 tl tr-ns mt2 overflow-auto pb2 pb0-ns">
			<div class="nowrap">
				{{ $currentPage := . }}
				{{ range .Site.Menus.main }}
				{{ $is := $currentPage.IsMenuCurrent "main" . }}
					<a href="{{ .URL }}" class="f5 fw6 hover-blue link black-70 dib mr2 mr3-m mr4-l {{ if $is }} underline {{ end }}">{{ .Name }}</a>
				{{ end }}
				<a href="/reference/" class="f5 fw6 hover-blue link black-70 dib mr2 mr3-m mr4-l">Om oss</a>
			</div>
		</nav>
	</div>
</header>
