.b--primary {
  border-color: var(--primary);
}

.b--highlight {
  border-color: var(--highlight);
}

.b--off-white {
  border-color: var(--off-white);
}

.b--grey-1 {
  border-color: var(--grey-1);
}

.b--grey-2 {
  border-color: var(--grey-2);
}

.b--grey-3 {
  border-color: var(--grey-3);
}

.b--grey-4 {
  border-color: var(--grey-4);
}

.b--black {
  border-color: var(--black);
}

.b--alvik-1 {
  border-color: var(--alvik-1);
}

.b--alvik-2 {
  border-color: var(--alvik-2);
}

.b--alvik-3 {
  border-color: var(--alvik-3);
}

.b--alvik-4 {
  border-color: var(--alvik-4);
}

.b--white {
  border-color: var(--white);
}

.b--none {
  border-color: none;
}
