/* Text colors */

.primary {
  color: var(--primary);
}

.highlight {
  color: var(--highlight);
}

.yellow {
  color: var(--yellow);
}

.off-white {
  color: var(--off-white);
}

.grey-1 {
  color: var(--grey-1);
}

.grey-2 {
  color: var(--grey-2);
}

.grey-3 {
  color: var(--grey-3);
}

.grey-4 {
  color: var(--grey-4);
}

.black {
  color: var(--black);
}

.blue {
  color: var(--blue);
}

.light-blue {
  color: var(--light-blue);
}

.alvik-1 {
  color: var(--alvik-1);
}

.alvik-2 {
  color: var(--alvik-2);
}

.alvik-3 {
  color: var(--alvik-3);
}

.alvik-4 {
  color: var(--alvik-4);
}

.white {
  color: var(--white);
}

@media (--breakpoint-not-small) {
  .alvik-1-ns { color: var(--alvik-1); }
  .alvik-2-ns { color: var(--alvik-2); }
  .alvik-3-ns { color: var(--alvik-3); }
  .alvik-4-ns { color: var(--alvik-4); }
  .white-ns { color: var(--white); }
}

/* Background */

.bg-primary {
  background-color: var(--primary);
}

.bg-highlight {
  background-color: var(--highlight);
}

.bg-white {
  background-color: var(--white);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-yellow-2 {
  background-color: var(--yellow-2);
}

.bg-off-white {
  background-color: var(--off-white);
}

.bg-grey-1 {
  background-color: var(--grey-1);
}

.bg-grey-2 {
  background-color: var(--grey-2);
}

.bg-grey-3 {
  background-color: var(--grey-4);
}

.bg-grey-4 {
  background-color: var(--grey-4);
}

.bg-black {
  background-color: var(--black);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-alvik-1 {
  background-color: var(--alvik-1);
}

.bg-alvik-2 {
  background-color: var(--alvik-2);
}

.bg-alvik-3 {
  background-color: var(--alvik-3);
}

.bg-alvik-4 {
  background-color: var(--alvik-4);
}

.bg-transparent {
  background-color: transparent;
}

.bg-fix-primary {
  padding: 0 var(--spacing-small);
  & :first-child {
    box-shadow: var(--spacing-small) 0 0 var(--primary), -var(--spacing-small) 0 0 var(--primary);
  }
}

/* Hover backgrounds */
.hover-bg-light-blue:hover {
  background-color: var(--light-blue);
}

@media (--breakpoint-not-small) {
  .bg-white-ns { background-color: var(--white); }
  .bg-off-white-ns { background-color: var(--off-white); }
  .bg-transparent-ns { background-color: transparent; }
}

/* Gradient backgorunds */
.bg-blue-to-red {
  background-image: linear-gradient(to right, rgb(144, 28, 148), rgb(27, 22, 88) 50%);
}

.bg-1-to-3 {
  background-image: linear-gradient(to right, var(--alvik-1), var(--alvik-3) 50%);
}
