/*

   SKINS:PSEUDO

   Customize the color of an element when
   it is focused or hovered over.

 */

 /* Combine with classes in skins and skins-pseudo for
 * many different transition possibilities. */

.bg-animate,
.bg-animate:hover,
.bg-animate:focus {
  transition: background-color .15s ease-in-out;
}

.hover-black:hover,
.hover-black:focus { color: var(--black); }
.hover-near-black:hover,
.hover-near-black:focus { color: var(--near-black); }
.hover-dark-gray:hover,
.hover-dark-gray:focus { color: var(--dark-gray); }
.hover-mid-gray:hover,
.hover-mid-gray:focus { color: var(--mid-gray); }
.hover-gray:hover,
.hover-gray:focus { color: var(--gray); }
.hover-silver:hover,
.hover-silver:focus { color: var(--silver); }
.hover-light-silver:hover,
.hover-light-silver:focus { color: var(--light-silver); }
.hover-moon-gray:hover,
.hover-moon-gray:focus { color: var(--moon-gray); }
.hover-light-gray:hover,
.hover-light-gray:focus { color: var(--light-gray); }
.hover-near-white:hover,
.hover-near-white:focus { color: var(--near-white); }
.hover-white:hover,
.hover-white:focus { color: var(--white); }

.hover-bg-black:hover,
.hover-bg-black:focus { background-color: var(--black); }
.hover-bg-near-black:hover,
.hover-bg-near-black:focus { background-color: var(--near-black); }
.hover-bg-dark-gray:hover,
.hover-bg-dark-gray:focus { background-color: var(--dark-gray); }
.hover-bg-dark-gray:focus,
.hover-bg-mid-gray:hover { background-color: var(--mid-gray); }
.hover-bg-gray:hover,
.hover-bg-gray:focus { background-color: var(--gray); }
.hover-bg-silver:hover,
.hover-bg-silver:focus { background-color: var(--silver); }
.hover-bg-light-silver:hover,
.hover-bg-light-silver:focus { background-color: var(--light-silver); }
.hover-bg-moon-gray:hover,
.hover-bg-moon-gray:focus { background-color: var(--moon-gray); }
.hover-bg-light-gray:hover,
.hover-bg-light-gray:focus { background-color: var(--light-gray); }
.hover-bg-near-white:hover,
.hover-bg-near-white:focus { background-color: var(--near-white); }
.hover-bg-white:hover,
.hover-bg-white:focus { background-color: var(--white); }
.hover-bg-transparent:hover,
.hover-bg-transparent:focus { background-color: var(--transparent); }

.hover-dark-red:hover,
.hover-dark-red:focus { color: var(--dark-red); }
.hover-red:hover,
.hover-red:focus { color: var(--red); }
.hover-light-red:hover,
.hover-light-red:focus { color: var(--light-red); }
.hover-orange:hover,
.hover-orange:focus { color: var(--orange); }
.hover-gold:hover,
.hover-gold:focus { color: var(--gold); }
.hover-yellow:hover,
.hover-yellow:focus { color: var(--yellow); }
.hover-light-yellow:hover,
.hover-light-yellow:focus { color: var(--light-yellow); }
.hover-purple:hover,
.hover-purple:focus { color: var(--purple); }
.hover-light-purple:hover,
.hover-light-purple:focus { color: var(--light-purple); }
.hover-dark-pink:hover,
.hover-dark-pink:focus { color: var(--dark-pink); }
.hover-hot-pink:hover,
.hover-hot-pink:focus { color: var(--hot-pink); }
.hover-pink:hover,
.hover-pink:focus { color: var(--pink); }
.hover-light-pink:hover,
.hover-light-pink:focus { color: var(--light-pink); }
.hover-dark-green:hover,
.hover-dark-green:focus { color: var(--dark-green); }
.hover-green:hover,
.hover-green:focus { color: var(--green); }
.hover-light-green:hover,
.hover-light-green:focus { color: var(--light-green); }
.hover-navy:hover,
.hover-navy:focus { color: var(--navy); }
.hover-dark-blue:hover,
.hover-dark-blue:focus { color: var(--dark-blue); }
.hover-blue:hover,
.hover-blue:focus { color: var(--blue); }
.hover-light-blue:hover,
.hover-light-blue:focus { color: var(--light-blue); }
.hover-lightest-blue:hover,
.hover-lightest-blue:focus { color: var(--lightest-blue); }
.hover-washed-blue:hover,
.hover-washed-blue:focus { color: var(--washed-blue); }
.hover-washed-green:hover,
.hover-washed-green:focus { color: var(--washed-green); }
.hover-washed-yellow:hover,
.hover-washed-yellow:focus { color: var(--washed-yellow); }
.hover-washed-red:hover,
.hover-washed-red:focus { color: var(--washed-red); }

.hover-bg-dark-red:hover,
.hover-bg-dark-red:focus { background-color: var(--dark-red); }
.hover-bg-red:hover,
.hover-bg-red:focus { background-color: var(--red); }
.hover-bg-light-red:hover,
.hover-bg-light-red:focus { background-color: var(--light-red); }
.hover-bg-orange:hover,
.hover-bg-orange:focus { background-color: var(--orange); }
.hover-bg-gold:hover,
.hover-bg-gold:focus { background-color: var(--gold); }
.hover-bg-yellow:hover,
.hover-bg-yellow:focus { background-color: var(--yellow); }
.hover-bg-light-yellow:hover,
.hover-bg-light-yellow:focus { background-color: var(--light-yellow); }
.hover-bg-purple:hover,
.hover-bg-purple:focus { background-color: var(--purple); }
.hover-bg-light-purple:hover,
.hover-bg-light-purple:focus { background-color: var(--light-purple); }
.hover-bg-dark-pink:hover,
.hover-bg-dark-pink:focus { background-color: var(--dark-pink); }
.hover-bg-hot-pink:hover,
.hover-bg-hot-pink:focus { background-color: var(--hot-pink); }
.hover-bg-pink:hover,
.hover-bg-pink:focus { background-color: var(--pink); }
.hover-bg-light-pink:hover,
.hover-bg-light-pink:focus { background-color: var(--light-pink); }
.hover-bg-dark-green:hover,
.hover-bg-dark-green:focus { background-color: var(--dark-green); }
.hover-bg-green:hover,
.hover-bg-green:focus { background-color: var(--green); }
.hover-bg-light-green:hover,
.hover-bg-light-green:focus { background-color: var(--yellow-2); }
.hover-bg-navy:hover,
.hover-bg-navy:focus { background-color: var(--navy); }
.hover-bg-dark-blue:hover,
.hover-bg-dark-blue:focus { background-color: var(--dark-blue); }
.hover-bg-blue:hover,
.hover-bg-blue:focus { background-color: var(--blue); }
.hover-bg-light-blue:hover,
.hover-bg-light-blue:focus { background-color: var(--light-blue); }
.hover-bg-lightest-blue:hover,
.hover-bg-lightest-blue:focus { background-color: var(--lightest-blue); }
.hover-bg-washed-blue:hover,
.hover-bg-washed-blue:focus { background-color: var(--washed-blue); }
.hover-bg-washed-green:hover,
.hover-bg-washed-green:focus { background-color: var(--washed-green); }
.hover-bg-washed-yellow:hover,
.hover-bg-washed-yellow:focus { background-color: var(--washed-yellow); }
.hover-bg-washed-red:hover,
.hover-bg-washed-red:focus { background-color: var(--washed-red); }

/* Animated after/before PSEUDO element Border on hover.
* Parent (of PSEUDO) must be relative. */

.hover-b-before::before,
.hover-b-after::after {
  content: '';
  width: 0;
  bottom: 0;
  position: absolute;
  transition: width 200ms ease-out;
}
/* Before target in  % */
.bt-50::before { right: 50%; }
.bt-100::before { right: 100%; }

/* After target in  % */
.at-50::after { left: 50%; }
.at-100::after { left: 100%; }

.hover-b-before-after-fw::after,
.hover-b-before-after-fw::before {
  width: 50%;
}

/* PSEUDO height*/
.a-psh-1::after { height: 1px; }
.b-psh-1::before { height: 1px; }
.a-psh-2::after { height: 2px; }
.b-psh-2::before { height: 2px; }
.a-psh-3::after { height: 3px; }
.b-psh-3::before { height: 3px; }

/* PSEUDO background-color*/
.a-psbg-grey-3::after { background-color: var(--grey-3); }
.b-psbg-grey-3::before { background-color: var(--grey-3); }
.a-psbg-black::after { background-color: var(--black); }
.b-psbg-black::before { background-color: var(--black); }

.a-psbg-1-to-3::after { background-image: linear-gradient(to left, var(--alvik-1), var(--alvik-3) 160%); }
.b-psbg-1-to-3::before { background-image: linear-gradient(to right, var(--alvik-1), var(--alvik-3) 160%); }

/* Allow only on bigger screens to avoid double klick issue in iOS Safari */
@media (--breakpoint-not-small) {
  .a-psw-50:hover::after { width: 50%; }
  .b-psw-50:hover::before { width: 50%; }
  .a-psw-100:hover::after { width: 100%; }
  .b-psw-100:hover::before { width: 100%; }
}

/* Pseudo decorations */
.after-arrow--down {
  padding-right: 18px;
}
.after-arrow--down::after {
  content: '';
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--alvik-1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
}

/* After backgrounds */
.hover-bg-alviks-1::after {
  background-color: var(--alvik-1);
}

.hover-bg-alviks-2::after {
  background-color: var(--alvik-2);
}

.hover-bg-alviks-3::after {
  background-color: var(--alvik-3);
}

.hover-bg-alviks-4::after {
  background-color: var(--alvik-4);
}

.hover-bg-blue-to-red::after {
  background-image: linear-gradient(to right, rgb(144, 28, 148), rgb(27, 22, 88) 120%);
}

.hover-bg-1-to-3::after {
  background-image: linear-gradient(to right, var(--alvik-1), var(--alvik-3) 160%);
}

/* Sliding background on hover */
@media (--breakpoint-not-small) {
  .hover-bg-slide::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: 0;
    transition: width 150ms ease-out;
  }

  .hover-bg-slide:hover::after { width: 100%; }
}
