{{ define "main" }}

    <div class="underkategorier-single mw7 center pt6 pb4">
        <div class="mb4 flex flex-wrap">

            <header class="w-100 intro">
                <h1 class="f2 ph3 b mb4 alvik-3">{{ .Title }}</h1>
                <img class="w-100" src='{{ .Param "image" }}' alt="">
                <div class="db content">
                    {{ .Content }}
                </div>
            </header>

        </div>

        {{ range $index, $value := where ((where .Site.Pages "Section" "referenser").ByParam "weight") "Params.underkategori" .Title }}

            <h3 class="f3 ph3 b alvik-3">{{ .Title }}</h3>
            <div class="mw8 center c-partialProjectSlider">
                <button class="c-partialProjectSlider__leftButton"><</button>

                <div class="c-partialProjectSlider__frame">
                    <ul class="c-partialProjectSlider__wrapper">

                        {{ range .Param "images" }}

                            <a target="_blank" href="{{ .image }}" class="c-partialProjectSlider__project">
                                <img src="{{ .image }}" alt="Project image">
                                <p>{{ .text }}</p>
                            </a>

                        {{ end }}

                    </ul>
                </div>

                <button class="c-partialProjectSlider__rightButton">></button>
            </div>

        {{ end }}

        {{ partial "contact-box-2-btns" .Site.Data.global }}

    </div>

{{end}}
