{{ define "main" }}

    <div class="vad-vi-gor_kategorier-single mw7 center pt6 pb4">
        <div class="flex flex-wrap">

            <header class="intro">
                <h1 class="f2 ph3 b mb4 alvik-3">{{ .Title }}</h1>
                <img src='{{ .Param "image" }}' alt="">
                <div class="content">
                    {{ .Content }}
                </div>
            </header>

            {{ range $index, $value := .Params.subcategories }}

                {{ if not (modBool $index 2) }}

                    {{ partial "label-image-block-odd" (dict "image" .image) }}

                {{ else }}

                    {{ partial "label-image-block" (dict "image" .image) }}

                {{ end }}

            {{ end }}

        </div>

        {{ partial "contact-box-2-btns" .Site.Data.global }}

    </div>

{{end}}
