{{ define "main" }}

<div class="pt6 pb4 bg-off-white">
	<div class="center mw6 pv3">

		<h1 class="f2 lh-title b mb3 alvik-3">{{.Title}}</h1>

		<ul class="">
	      {{ range (.Paginator 4).Pages.ByPublishDate }}
	        <a href="{{ .Permalink }}" class="f5 b grow link no-underline-hover br1 ph4 pv2 mv2 dib white bg-primary hover-bg-light-blue">{{ .Title }}</a>
	      {{ end }}
	  </ul>

		{{ .Content }}

		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ end }}
