{{ define "main" }}

    <div class="vad-vi-gor_kategorier-single mw7 center pt6 pb4">
        <h1 class="f2 ph3 b mb4 alvik-3">{{ .Title }}</h1>
        <div class="flex flex-wrap">

        {{ range $index, $value := (where .Site.Pages "Params.whatwedo_category" .Title) }}
            {{ if not (modBool $index 2) }}
                {{ partial "label-image-block-odd" . }}
            {{ else }}
                {{ partial "label-image-block" . }}
            {{ end }}
        {{ end }}

        </div>
        {{ partial "contact-box-2-btns" .Site.Data.global }}
    </div>

{{end}}
