<div class="mw7 center mb4">
  <div class="w-100 border pa3">
    <h4 class="f4 b lh-title mb2 black">{{ .Title }}</h4>
    {{ if .Params.lastday }}

      {{ $time := time .Params.lastday }}
      {{ $monthindex := printf "%d" $time.Month }}

      <div class="bg-grey-1 pv3 ph3 mb2">Sista ansökningsdag: {{ $time.Year }} - {{ if gt 10 $monthindex }}0{{ end }}{{ $monthindex }} - {{ $time.Day }}</div>

    {{ end }}
    <p>{{ .Summary }}</p>
    {{ if .Truncated }}
      {{ partial "button-link" (dict "label" "Läs mer" "link" .Permalink) }}
    {{ end }}
  </div>
</div>
