{{ define "main" }}

  <div class="mw6 center ph3 pt6 pb4">
    <h1 class="f2 lh-title b mb3 alvik-3">{{.Title}}</h1>
    {{ $time := time .Params.lastday }}
    {{ $monthindex := printf "%d" $time.Month }}
    <pre>Sista ansökningsdag: {{ $time.Year }} - {{ if gt 10 $monthindex }}0{{ end }}{{ $monthindex }} - {{ $time.Day }}</pre>
    <div class="cms mw6">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
    {{ if .Params.link }}
      {{ partial "button-link" (dict "link" .Params.link "label" "Ansök här") }}
    {{ end }}
  </div>

{{ end }}
