.c-heroImageGrid {
	display: none;
	position: relative;
	overflow: hidden;
	height: 50vw;
	background: #fff;
	margin-bottom: 100px;
}

.c-heroImageGrid .image-caption {
	position: absolute;
	font-size: 24px;
	color: #000;
	z-index: 1;
	transition: all 0.15s ease;
}

.c-heroImageGrid .overlay {
	transition: opacity 0.15s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: #fff;
}

/**
 * Arrow down
 */

.c-heroImageGrid__arrow-down {
	z-index: 1;
	position: absolute;
	bottom: 1vw;
	left: 50%;
	transform: translateX(-50%);
	width: 4vw;
	height: 2.5vw;
	animation: bounce 2s infinite ease-in-out;
}

.c-heroImageGrid__arrow-down:before,
.c-heroImageGrid__arrow-down:after {
	content: "";
	position: absolute;
	top: 0;
	height: 100%;
	width: 0.22vw;
	background-color: #000;
}

.c-heroImageGrid__arrow-down:before {
	left: 1.05vw;
	transform: rotateZ(-45deg);
}

.c-heroImageGrid__arrow-down:after {
	right: 1.05vw;
	transform: rotateZ(45deg);
}

.c-heroImageGrid .container {
	display: flex;
	align-items: flex-end;
	position: absolute;
	top: -23.7vw;
	left: -7vw;
	transform: rotateZ(45deg);
	height: 104vw;
	width: 109vw;
}

.c-heroImageGrid .column {
	overflow: hidden;
	position: relative;
}

.c-heroImageGrid .column:nth-of-type(1) {
	border-right: 8px solid white;
	width: 25%;
	height: 66vw;
}

.c-heroImageGrid .column:nth-of-type(1):hover {
	cursor: pointer;
}

.c-heroImageGrid .column:nth-of-type(1):hover .image-caption {
	right: 0;
}

.c-heroImageGrid .column:nth-of-type(1):hover .overlay,
.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(1):hover .overlay,
.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(2) .right-column:hover .overlay,
.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(3):hover .overlay {
	opacity: 0.5;
}

.c-heroImageGrid .column:nth-of-type(1):before {
	position: absolute;
	top: 8.3vw;
	left: 8.1vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	width: 37vw;
	height: 38vw;
	background-image: url(/img/villa.jpg);
}

.c-heroImageGrid .column:nth-of-type(1) .image-caption {
	right: -50px;
	bottom: 40%;
	transform: rotateZ(-90deg);
}

.c-heroImageGrid .column a {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}


.c-heroImageGrid .column:nth-of-type(2) {
	display: flex;
	flex-direction: column-reverse;
	width: 75%;
	height: 109.1vw;
}

.c-heroImageGrid .column:nth-of-type(2) .row {
	border-top: 8px solid #fff;
}


.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(1) {
	position: relative;
	overflow: hidden;
	height: 50vw;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(1) .image-caption {
	top: -50px;
	left: 15%;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(1):hover {
	cursor: pointer;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(1):hover .image-caption {
	top: 8px;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(1):before {
	position: absolute;
	top: -10.6vw;
	left: -14.3vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	width: 66.5vw;
	height: 40vw;
	background-image: url(/img/industriklattrare.jpg);
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(2) {
	display: flex;
	height: 40.5vw;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(3) {
	border-top: none;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(2) .left-column {
	overflow: hidden;
	width: 30%;
	background-color: #8B8B8A;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(2) .left-column .text {
	width: 100%;
	height: 100%;
	overflow: visible;
	transform: rotateZ(-45deg);
	position: relative;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(2) .left-column .text h1 {
	font-family: Futura;
	position: absolute;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.25vw;
	width: 20vw;
	top: 17vw;
	left: 7vw;
	line-height: 1.7vw;
	text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.75);
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(2) .left-column .text p {
	font-family: Futura;
	text-align: right;
	position: absolute;
	color: #fff;
	font-size: 0.9vw;
	width: 18vw;
	top: 24.5vw;
	left: -3.5vw;
	font-weight: 500;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(2) .right-column {
	position: relative;
	width: 70%;
	border-left: 8px solid white;
	overflow: hidden;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(2) .right-column .image-caption {
	top: -50px;
	left: 15%;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(2) .right-column:hover {
	cursor: pointer;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(2) .right-column:hover .image-caption {
	top: 5px;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(2) .right-column:before {
	position: absolute;
	top: -13.7vw;
	left: -16.9vw;
	width: 60vw;
	height: 60vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	background-image: url(/img/Flamingo.jpg);
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(3) {
	position: relative;
	height: 18.6vw;
	overflow: hidden;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(3) .image-caption {
	left: 40%;
	bottom: -50px;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(3):hover {
	cursor: pointer;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(3):hover .image-caption {
	bottom: 5px;
}

.c-heroImageGrid .column:nth-of-type(2) .row:nth-of-type(3):before {
	position: absolute;
	top: 6.8vw;
	left: 25.7vw;
	width: 33vw;
	height: 27vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	background-image: url(/img/Rostfärg.jpg);
}

@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0) translateX(-50%);
	}

	40% {
		transform: translateY(-30px) translateX(-50%);
	}

	60% {
		transform: translateY(-15px) translateX(-50%);
	}
}

@media screen and (min-width: 768px) {
	.c-heroImageGrid {
		display: block;
	}
}
