.c-partialProjectSlider {
	width: 70%;
    position: relative;
    margin: 0 auto 50px;
}

.c-partialProjectSlider__frame {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}

.c-partialProjectSlider__wrapper {
    display: flex;
    left: 0;
    height: auto;
    overflow: auto;
    transition: left .8s ease-out;
    position: relative;
    list-style-type: none;
    height: 100%;
}

.c-partialProjectSlider__slide {
    display: flex;
    float: left;
    height: 100%;
}

.c-partialProjectSlider__project:first-of-type {
    margin-left: 20px;
}

.c-partialProjectSlider__project {
    text-decoration: none;
    margin-right: 20px;
    float: left;
    height: 100%;
}

.c-partialProjectSlider__project img {
    height: 160px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.c-partialProjectSlider__project p {
    margin: 0;
    padding: 0 20px;
}

.c-partialProjectSlider__leftButton,
.c-partialProjectSlider__rightButton {
    padding: 0 10px;
    color: #135093;
    font-weight: bold;
    position: absolute;
	height: 100%;
	top: 0;
    z-index: 1;
    font-size: 48px;
    background: none;
}

.c-partialProjectSlider__leftButton {
    left: -52px;
}

.c-partialProjectSlider__rightButton {
    right: -52px;
}

@media screen and (min-width: 900px) {
	.c-partialProjectSlider {
		width: 100%;
	}
}
