{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "illustration" .Params.illustration "bg" .Site.Data.nav.bgimage) }}

{{ partial "front-services" . }}

{{ partial "image-grid" . }}

{{ partial "contact-box-2-btns" .Site.Data.global }}

<a href="#" class="dib relative overflow-hidden link ba bw0 pv1 ph1 no-underline-hover font-accent b ttu bg-1-to-3 hover-bg-1-to-3 hover-bg-slide br-pill white"><span class="z-1 relative bg-white dib br-pill alvik-3 pv2 ph4">Button</span></a>

<a href="#" class="dib relative overflow-hidden link ba bw0 pv2 ph4 no-underline-hover font-accent b ttu bg-1-to-3 hover-bg-1-to-3 hover-bg-slide br-pill white"><span class="z-1 relative">Button</span></a>

{{ end }}
