{{ define "main" }}

<div class="kontakt-list mw7 center pt6 pb4">
	<h1 class="f2 ph3 b mb4 alvik-3">{{ .Title }}</h1>

	<div class="tc mb5">
		<a href="/kontakt/stockholm/"
			class="o-button f5 link no-underline-hover tc ttu br-pill ph4 pv2 mv2 dib white relative overflow-hidden bg-1-to-3 hover-bg-1-to-3 hover-bg-slide ">
			<span class="z-1 relative">Stockholm</span>
		</a>

		<a href="/kontakt/uppsala/"
			class="o-button f5 link no-underline-hover tc ttu br-pill ph4 pv2 mv2 dib white relative overflow-hidden bg-1-to-3 hover-bg-1-to-3 hover-bg-slide ">
			<span class="z-1 relative">Uppsala</span>
		</a>

		<a href="/kontakt/västerås/"
			class="o-button f5 link no-underline-hover tc ttu br-pill ph4 pv2 mv2 dib white relative overflow-hidden bg-1-to-3 hover-bg-1-to-3 hover-bg-slide ">
			<span class="z-1 relative">Västerås</span>
		</a>
	</div>

	{{ partial "contact-box-2-btns" .Site.Data.global }}
</div>

{{end}}
