{{ define "main" }}

  <div class="mw7 center ph3 pt6 pb4">
    <h1 class="f2 lh-title b mb4 alvik-3">Kontakt {{.Title}}</h1>

    <p>{{ .Params.ingress }}</p>

    <div class="flex-ns mb3">
      <div class="w-100 w-50-ns mb2">
        <h3 class="f3 b lh-title black">Besöksadress</h3>
        <ul>
          {{ range .Params.visitinfo }}
            {{ if .link }}
              <li><a href="{{ .link }}">{{ .text }}</a></li>
            {{ else }}
              <li>{{ .text }}</li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
      {{ if .Params.postinfo }}
        <div class="w-100 w-50-ns mb2">
          <h3 class="f3 b lh-title black">Postadress</h3>
          <ul>
            {{ range .Params.postinfo }}
              {{ if .link }}
                <li><a href="{{ .link }}">{{ .text }}</a></li>
              {{ else }}
                <li>{{ .text }}</li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>

    <div class="mw7">
      <pre><span class="b">Telefon:</span> <a href="tel:{{ .Params.phone }}">{{ .Params.phone }}</a></pre>
      <pre><span class="b">E-post:</span> <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></pre>
    </div>

    <div class="mb4">
      {{ partial "button-link" (dict "label" "Hitta till oss" "link" .Params.coordinates) }}
    </div>

    <div class="mw7">
      <h3 class="f3 b mb3 black">Medarbetare</h3>
      <div class="mw7 flex flex-wrap items-center">
        {{ range .Params.coworker }}
        <div class="w-100 w-50-ns w-third-l ph2 mb4 tc tl-ns">
          <img src="{{ .image }}" alt="{{ .name }}">
          <h5 class="f5 b black">{{ .name }}</h5>
          <ul>
            <li class="f6">{{ .position }}</li>
            <li>
              <a class="f6" href="tel:{{ .phone }}">{{ .phone }}</a>
            </li>
            <li>
              <a class="f6" href="mailto:{{ .email }}">{{ .email }}</a>
            </li>
          </ul>
        </div>
        {{ end }}
      </div>
    </div>

  </div>
{{ end }}
